# This is a Github Workflow that runs tests on any push or pull request.
# If the tests pass and this is a push to the master branch it also runs Semantic Release.
name: CI
on: [push, pull_request]
jobs:
  # Fast unit tests flow
  push:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkuout
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ github.ref == 'refs/heads/master' && '0' || '1' }}

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Yarn install
        run: yarn

      - name: Unit test only
        run: yarn cover:unit

      - name: Coveralls
        if: github.ref == 'refs/heads/master'
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Semantic Release
        if: github.ref == 'refs/heads/master'
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_PROVENANCE: true
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: Anton Golub
          GIT_AUTHOR_EMAIL: antongolub@antongolub.com
          GIT_COMMITTER_NAME: Anton Golub
          GIT_COMMITTER_EMAIL: antongolub@antongolub.com
        run: npm_config_yes=true npx zx-semrel

  # Full tests for PR
  test_pr:
    if: github.event_name == 'pull_request'
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-22.04 ]
        node-version: [ 12, 14, 16, 18, 20, 22 ]
    name: Test (Node v${{ matrix.node-version }}, OS ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Yarn install
        run: yarn

      - name: Intergarion test
        if: matrix.node-version != '20' || matrix.os != 'ubuntu-22.04'
        run: cli/synp.js -s yarn.lock

      - name: Full test suite
        if: matrix.node-version == '20' && matrix.os == 'ubuntu-22.04'
        run: yarn test
